In [4]:
from scipy import stats as st
from scipy.stats import chi2, chi2_contingency, chisquare

# Goodness of Fit

A genetics engineer was attempting to cross a tiger and a cheetah. She predicted a
phenotypic outcome of the traits she was observing to be in the following ratio 4 stripes
only: 3 spots only: 9 both stripes and spots. When the cross was performed and she
counted the individuals she found 50 with stripes only, 41 with spots only and 85 with
both. According to the Chi-square test, did she get the predicted outcome?

In [59]:
observed=[50,41,85]
expected=[44,33,99]
chisq, p = st.chisquare(observed,expected) #degrees of freedon = number of categories -1
print(f'X2={chisq:.2f},p={p:.2f}')

X2=4.74,p=0.09

We are using the goodness of fit to test whether the population follows the expected frequncy. <br>
-- H0= observed frequency = expected frequency <br>
-- Ha= observed frequency not equal to expected frequncy <br>

--Since p is greater than alpha, we fail to reject the null hypothesis and accept that she got the predicted outcome.

# Test of Independence #degrees of freedon= row-1 * col-1

Expected:

                           Gryffindor	Hufflepuff	Ravenclaw	Slytherin 
No to pineapple on pizza	  77.12	      120.71	     212.68   	68.5<br>
Yes to pineapple on pizza	  83.88	      131.29	     231.32	    74.5

In [5]:
import pandas as pd

# Create a contingency table (also known as a cross tabulation)
dct = {
    'Gryffindor': [79, 82],
    'Hufflepuff': [122, 130],
    'Ravenclaw': [204, 240],
    'Slytherin': [74, 69],
}
crosstab = pd.DataFrame(dct, index=['No', 'Yes'])

print(crosstab)

     Gryffindor  Hufflepuff  Ravenclaw  Slytherin
No           79         122        204         74
Yes          82         130        240         69

In [10]:
chi2,pval,dof,expected = st.chi2_contingency(crosstab)

print(f'χ² = {chi2:.3f}, p = {pval:.2f}, degrees of freedom = {dof}')

χ² = 1.643, p = 0.65, degrees of freedom = 3

since p val is greater than alpha, we fail to reject the null hypothesis. so there may be no significan association

In [34]:
data = pd.read_excel(r"C:\Users\hemal\OneDrive - Tesign Inc\Hema\Data science\Portfolio\Python Data Science\Chisquaretest\Dataset_Of_2CategoricalVariables.xlsx")
data

   Gender Like Shopping?
0   Male               No
1  Female             Yes
2   Male              Yes
3  Female             Yes
4  Female             Yes
5   Male              Yes
6   Male               No
7  Female              No
8  Female              No

In [38]:
data.columns

Index(['Gender', 'Like Shopping? '], dtype='object')

In [40]:
import pandas as pd

# Assuming 'data' is your original DataFrame
data.rename(columns={"Like Shopping? ":"like_shopping" }, inplace=True)

# Display the first few rows of the modified DataFrame
data.head()

   Gender like_shopping
0   Male             No
1  Female           Yes
2   Male            Yes
3  Female           Yes
4  Female           Yes

In [42]:
#contingency table
con_tab= pd.crosstab(data["Gender"],data["like_shopping"])

In [43]:
con_tab

like_shopping  No  Yes
Gender
Female          2    3
Male            2    2

In [ ]:
chi2,pval,dof,expected = st.chi2_contingency(crosstab)

print(f'χ² = {chi2:.3f}, p = {pval:.2f}, degrees of freedom = {dof}')

In [49]:
chi2,pval,dof,expected= st.chi2_contingency(con_tab,correction=False)
print(f'χ² = {chi2:.4f}, p = {pval:.4f}, degrees of freedom = {dof}')

χ² = 0.0900, p = 0.7642, degrees of freedom = 1

In [50]:
print(expected)

[[2.22222222 2.77777778]
 [1.77777778 2.22222222]]

In [ ]:
#